/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */

.supplied::before {
    content:"[";
}

.supplied::after {
    content:"]";
}

.add[data-rend="align-right"] {
  display: inline !important;
  margin-left: 300px !important;
}

.hi[data-rend="superscript"] {
  vertical-align: super !important;
}

.fw[data-rend="align-center"], .fw[data-place="top-center"] {
  text-align: center !important;
}

.fw[data-rend="align-right"], .fw[data-place="top-right"] {
  text-align: right !important;
}

.fw[data-rend="align-left"], .fw[data-place="top-left"] {
  text-align: left !important;
}

.front[data-rend="fontsize_120"] {
  text-align: justify !important;
	font-size: 120% !important;
}

.title {
  font-style: italic !important;
}

.titlePart[data-type="main"] {
  font-style: italic !important;
  text-align: center !important;
	font-size: 140% !important;
}

.head[data-type="main"] {
  font-style: italic !important;
  text-align: center !important;
	font-size: 200% !important;
}

.label {
  font-style: italic !important;
}

/* .term {
	background-color: coral;
} */

.figDesc {
	display: block;
	border-left: 5px solid #b30000;
	background-color: #ffe6e6;
	padding: 5px 5px 5px 8px;
	margin-bottom: 3%;
	text-align: justify;
	font-size: 95%;
	font-style: italic;
}

span.analogue span.analogue__text span.quote {
	font-style: italic;
}

span.quote sup.iconbis-evt_quote-left,
span.quote sup.iconbis-evt_quote-right {
	display: none;
}